@import "../../../../Scss/Style.scss";

#editor_news {
  @include _main($margin: 20px 0);

  #editor_p {
    @include _main(
      $font_s: 22px,
      $margin: 0 0 0 28px,
      $position: relative,
      $display: inline
    );
    font-weight: 700;

    &::after {
      @include _main(
        $top: 6px,
        $left: 154px,
        $width: 3px,
        $height: 22px,
        $position: absolute,
        $back-color: $nine-color
      );
      content: "";
      transform: matrix(1, 0, -0.3, 1, 0, 0);
    }
    &::before {
      @include _main(
        $top: 7px,
        $left: -3px,
        $width: 3px,
        $height: 22px,
        $position: absolute,
        $back-color: $nine-color
      );
      content: "";
      transform: matrix(1, 0, -0.3, 1, 0, 0);
    }
  }
  .right_side {
    @include _main(
      $display: flex,
      $align-items: center,
      $gap: 4px,
      $padding: 0 20px
    );
    .first {
      p {
        margin: 0;
      }
      #info {
        font-weight: 650;
        font-size: 26px;

        &:hover {
          text-decoration: underline;
          color: red;
          cursor: pointer;
        }
      }
      .box {
        display: inline-block;
        transform: matrix(1, 0, -0.5, 1, 0, 0);
        border-radius: 50%;

        #line {
          @include _main(
            $font_s: 16px,
            $padding: 4px 9px,
            $back-color: #8d80ff,
            $margin: 15px 0,
            $color: $main_color,
            $transition: 0.3s ease-in-out,
            $cursor: pointer
          );
          text-decoration: none;

          &:hover {
            box-shadow: #8d80ff 0px 5px 15px;
          }
        }
      }
      .down_side {
        @include _main(
          $display: flex,
          $justify-content: space-between,
          $align-items: center
        );
        .down_left {
          @include _main($display: flex, $align-items: center, $gap: 5px);
          .color {
            @include _main($display: flex, $gap: 2px, $margin: 6px 0);
            .col1 {
              @include _main($width: 20px, $height: 7px, $back-color: red);
            }
            .col2 {
              @include _main($width: 20px, $height: 7px, $back-color: #ff5612);
            }
            .col3 {
              @include _main($width: 20px, $height: 7px, $back-color: #ffa444);
            }
            .col4 {
              @include _main($width: 20px, $height: 7px, $back-color: #a0b339);
            }
            .col5 {
              @include _main($width: 20px, $height: 7px, $back-color: #50a735);
            }
          }
          p {
            @include _main($font_s: 12px, $margin: 0);
          }
          span {
            @include _main($font_s: 13px);
            font-weight: 700;
          }
        }
      }
      .down_left {
        @include _main($display: flex, $align-items: center, $gap: 5px);
        img {
          @include _main(
            $width: 22px,
            $margin: 16px 0,
            $height: 22px,
            $object_f: cover,
            $border-radius: 11px
          );
        }
        p {
          @include _main($font_s: 12px, $margin: 0);
          font-weight: 700;
        }
        span {
          @include _main($font_s: 11px !important);
          font-weight: 600 !important;
        }
      }
      #infospan {
        @include _main(
          $font_s: 14px,
          $margin: 17px 0,
          $color: rgb(150, 150, 150),
          $display: block
        );
      }
    }
  }
  .second {
    .img {
      @include _main(
        $width: 100%,
        $height: 312px,
        $cursor: pointer,
        $position: relative
      );
      img {
        @include _main(
          $width: 100%,
          $height: 100%,
          $object_f: cover,
          $cursor: pointer
        );
      }
      .box {
        @include _main(
          $position: absolute,
          $display: inline-block,
          $border-radius: 50%,
          $bottom: -4px,
          $left: -10px,
          $cursor: pointer
        );
        transform: matrix(1, 0, -0.5, 1, 0, 0);

        #line {
          @include _main(
            $font_s: 16px,
            $padding: 4px 10px,
            $back-color: #8d80ff,
            $margin: 15px 0,
            $color: $main_color,
            $transition: 0.3s ease-in-out,
            $cursor: pointer
          );
          text-decoration: none;

          &:hover {
            box-shadow: #8d80ff 0px 5px 15px;
          }
        }
      }
    }
  }
  .left_side {
    @include _main(
      $display: flex,
      $align-items: center,
      $gap: 4px,
      $padding: 0 20px
    );
    .first {
      @include _main($width: 80%);
      p {
        margin: 0;
      }
      #info {
        font-weight: 650;
        font-size: 17px;

        &:hover {
          text-decoration: underline;
          color: red;
          cursor: pointer;
        }
      }
      .box {
        display: inline-block;
        transform: matrix(1, 0, -0.5, 1, 0, 0);
        border-radius: 50%;

        #line {
          @include _main(
            $font_s: 14px,
            $padding: 4px 7px,
            $back-color: #56ca71,
            $margin: 15px 0,
            $color: $main_color,
            $transition: 0.3s ease-in-out,
            $cursor: pointer
          );
          text-decoration: none;

          &:hover {
            box-shadow: #56ca71 0px 5px 15px;
          }
        }
      }
      .down_side {
        @include _main(
          $display: flex,
          $justify-content: space-between,
          $align-items: center
        );
        .down_left {
          @include _main($display: flex, $align-items: center, $gap: 5px);
          img {
            @include _main(
              $width: 22px,
              $margin: 16px 0,
              $height: 22px,
              $object_f: cover,
              $border-radius: 11px
            );
          }
          p {
            @include _main($font_s: 13px, $margin: 0);
            font-weight: 700;
          }
          span {
            @include _main($font_s: 13px);
          }
        }
      }
    }
    .second {
      img {
        @include _main(
          $width: 200px,
          $height: 120px,
          $object_f: cover,
          $cursor: pointer
        );
      }
    }
  }
  .cart {
    .img {
      @include _main(
        $width: 100%,
        $height: 154px,
        $cursor: pointer,
        $position: relative
      );
      img {
        @include _main(
          $width: 100%,
          $height: 100%,
          $object_f: cover,
          $cursor: pointer,
          $border-radius: 5px
        );
      }
      .box {
        @include _main(
          $position: absolute,
          $display: inline-block,
          $border-radius: 50%,
          $bottom: -11px,
          $left: -3px,
          $cursor: pointer
        );
        transform: matrix(1, 0, -0.4, 1, 0, 0);

        #line {
          @include _main(
            $font_s: 12px,
            $padding: 4px 7px,
            $back-color: #56ca71,
            $margin: 15px 0,
            $color: $main_color,
            $transition: 0.3s ease-in-out,
            $cursor: pointer
          );
          text-decoration: none;

          &:hover {
            box-shadow: #56ca71 0px 5px 15px;
          }
        }
      }
    }
    #info {
      font-weight: 650;
      font-size: 15px;
      margin-top: 10px;

      &:hover {
        text-decoration: underline;
        color: red;
        cursor: pointer;
      }
    }
    .down_side {
      @include _main(
        $display: flex,
        $justify-content: space-between,
        $align-items: center
      );
      .down_left {
        @include _main($display: flex, $align-items: center, $gap: 5px);
        p {
          @include _main($font_s: 12px, $margin: 0);
        }
        span {
          @include _main($font_s: 13px);
          font-weight: 600;
        }
      }
    }
  }
}
