* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
}

body.light {
  background-color: white;
  color: black;
  #darkmode_img {
    display: none;
  }
  .sun {
    display: none;
  }
  .backImgDark {
    display: none;
  }
}
body.dark {
  background-color: #131518 !important;
  color: rgb(255, 255, 255) !important;
  .backImg {
    display: none;
  }
  a {
    color: white !important;
  }
  #lightmode_img {
    display: none;
  }
  #dark-mode-img {
    display: block;
  }
  .moon {
    color: black;
    display: none;
  }

  #nav {
    background-color: #0d0f11 !important;
    ul {
      background-color: #0d0f11 !important;
      li {
        color: white !important;
      }
    }
    .politics_hover {
      background-color: #0d0f11 !important;
      span {
        color: white !important;
      }
    }
    .tech_hover {
      background-color: #0d0f11 !important;
      span {
        color: white !important;
      }
      p {
        color: white !important;
      }
    }
    #more {
      .more_hover {
        background-color: #0d0f11 !important;
        p {
          color: white !important;
        }
      }
    }
    #notification {
      .notification_click {
        background-color: #0d0f11 !important;
        p {
          color: white !important;
        }
      }
    }
    #nav_dark {
      &:before {
        background-color: #454545 !important;
      }
    }
    .list_mobile {
      background-color: #0d0f11;
      p {
        color: white !important;
      }
    }
  }
  #quick_links {
    .left_side {
      p {
        color: black !important;
      }
    }
    .swiper-button-next {
      color: white;
    }
    span {
      color: white;
    }
  }
  #editor_news {
    .box {
      p {
        color: black;
      }
    }
    .cart {
      .box {
        p {
          color: white;
        }
      }
    }
  }
  #discover {
    p {
      color: black !important;
    }
    #editor_p {
      color: white !important;
    }
  }
  #foot {
    background-color: #0d0f11 !important;
    &::before {
      background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
    }
    ul {
      li {
        color: white !important;
        &:hover {
          color: red !important;
        }
      }
    }
    p {
      color: white;
    }
  }
  #techinfo_tex {
    &::before {
      background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
    }
  }
  #politicsinfosec {
    &::before {
      background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
    }
  }
  #bookmarksaved {
    .upside {
      &::before {
        background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
      }
    }
  }
  #bookmarkwriter {
    .upside {
      &::before {
        background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
      }
    }
    .left_side {
      box-shadow: 1px 4px 1px 2px #000 !important;
    }
    .add_more_scale {
      &::after {
        background-color: #d0c0c04a;
      }
    }
  }
  #bookcategory {
    .upside {
      &::before {
        background-image: radial-gradient(#fff 0.75px, transparent 0.75px);
      }
    }
    p {
      color: black !important;
    }
    .cart {
      margin: 20px 0;
    }
  }
  #brecommend {
    background-color: #131518 !important;
  }
}
