@import "../../Scss/Style.scss";

.splash-screen {
  width: 100%;
  position: fixed;
  z-index: 289282398023032;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  img {
    height: 100%;
    width: 100%;
    z-index: 742443434378634786;
  }
}
